
body{
    background-image: url('im2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }

  
      button:hover {
        background-color: #cf0909;
        transform: scale(1.1);
      }
      
      h2{
        font: size 30px;
        color: rgb(240, 235, 235);
        text-align: center;
      }
      form {
        width: 45%;
        margin: auto;;
      }
      form {
        background-color: rgb(9, 27, 30);
        border: 3px solid rgb(240, 227, 227);
        padding: 20px;
        border-radius: 10px;
      }
      button{
        background-color: rgb(25, 25, 25);
        align-content: center;
      }
      label{
        color: aliceblue;

      }
      .input-group label {
        position:absolute ;
        top: 30%;
        left: 5px;
        transform: translateY(-0%);
        color: #e4eded;
        pointer-events: none;
        transition:.1s;
      }
    
    .social-platform{
      text-align: center;
      
    }
    p{
      text-align: center;
      font-size: 20px;
      color: #e3eded;
    }
    
     
      

      